@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    overflow-x: hidden;

    margin: 0;
    padding: 0;

    font-family: 'Roboto';
    //border: 1px solid red;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2{
    margin: 0;
    padding: 0;
}

// ------------------------------------------ general_tags ------------------------------------------

.bg_blue {
    background: #6bc4ee;
}

.bg_white {
    background: white;
}

.text_wh {
    color: white;
}

// ------------------------------------------ /general_tags ------------------------------------------

#videoBG {
    position: fixed;
    z-index: -1;

    width: 1920px !important
}


// ------------------------------------------ navbar ------------------------------------------

.navigation_text {
    margin: 2rem;
}

#navbar_brand {
    color: white !important;
    margin: 1rem 2rem; // top and bottom - auto \n right and left - 2rem
    padding-right: 15%;
    padding-bottom: 0.5%;
}

#euroexpress_nav_logo {
    padding-right: 28%;
}

.navbar-toggler {
    border: hidden;
}

// ------------------------------------------ /navbar ------------------------------------------

// ------------------------------------------ main-section ------------------------------------------

.maintext {
    margin: 0;
    padding: 0;

    h1 {
        margin: 2rem;
        white-space: nowrap;

        @media (min-width: 1000px) {
            font-size: 5rem;
            text-shadow: 0px 0px 6px #5e5e5e;
        }
    }

    p {
        margin-top: 1rem;
        margin-left: 2vw;

        @media (min-width: 1000px) {
            font-size: 1.5rem;    
            width: 85%;
            padding-left: 15vw;
            text-shadow: 0px 0px 6px #000000;
        }
    }
}

#map {
    width: 35vw;
    height: 40vh;
}

// ------------------------------------------ /main-section ------------------------------------------



// ------------------------------------------ footer ------------------------------------------

#logo_footer {
    width: 200px;
    height: 200px;
}

#copyright_footer {
    padding-top: 2rem;
    
    @media (min-width: 1000px) {
        padding-left: 15%;
    }
}

#contacts {
    padding-top: 2rem;

    .contact {
        padding: 0.8rem;
    }

}

// @media (min-width: 1000px) {
//     #contacts {
//         padding-left: 7%;
//         white-space: nowrap;
    
//         #phone_number {
//             padding-left: 34%;
//         }
    
//     }   
// }

// ------------------------------------------ /footer ------------------------------------------